Flask==1.1.2
gensim==3.8.3
gunicorn==20.0.4
Keras-Preprocessing==1.1.2
kfac==0.2.0
matplotlib==3.3.0
networkx==2.4
node2vec==0.3.2
nodevectors==0.1.22
numpy==1.19.1
pandas==1.1.1
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
tensor2tensor==1.15.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-addons==0.10.0
tensorflow-datasets==3.2.1
tensorflow-estimator==2.3.0
tensorflow-gan==2.0.0
tensorflow-hub==0.8.0
tensorflow-metadata==0.22.2
tensorflow-probability==0.7.0
tensorflow-text==2.3.0
xgboost==1.1.1
MGLTools==1.5.6
AutoDock Vina
